<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>study</display-name>
  <servlet>
  	<servlet-name>Sum</servlet-name>
  	<servlet-class>servlet.Sum</servlet-class>
  
  </servlet>
  
  <servlet-mapping>
  
  	<servlet-name>Sum</servlet-name>
  	<url-pattern>*.do</url-pattern>
  
  </servlet-mapping>
  
  <!-- 서버켜질때 무조건 실행 -->
  <servlet>
  	<servlet-name>DriverLoader</servlet-name>
  	<servlet-class>com.study.servlet.DriverLoader</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
<!-- 	<error-page>
  <exception-type>java.lang.NullPointerException</exception-type>
  <location>/WEB-INF/err/1error500.jsp</location>
  </error-page>
  	
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/err/error404.jsp</location>
	</error-page>  
	
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/err/error500.jsp</location>
	</error-page> -->
	
	<!-- 분 -->
	<!-- <session-config>
		<session-timeout>60</session-timeout>
	</session-config> -->
	
	
	
</web-app>